/* Aca van los estilos generales */

:root{
    --principal: #FFD151; /* Esta es una variable, para usar ese color usar var(--principal) */
}

* {
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
}

article {
    height: 100vh;
}

.article-button{
    width: fit-content !important;
    border: 2px solid black;
    background-color: var(--principal);
    border-radius: 2em !important;
    padding: 3px 20px !important;    
    font-weight: bolder !important;
}