/* Acá va todos los estilos para la primera pagina */

#nosotros .carousel {
    background-color: transparent;
    height: 50vh;
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.carousel .carousel-item, .carousel-inner{
    height: 100%;
}

.carousel img{
    height: 100%;
    width: auto !important;
    margin: auto;
}

.carousel{
    overflow: hidden;
}

#nosotros .nosotros{
    padding: 3vw;
    height: 50vh;
    width: 100%;
}



