#trabajo {
    position: relative;
}

#trabajo > div{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}


#trabajo h2 {
    text-align:right;
    margin: auto;
    margin-bottom: 60px;
}

.item{
	margin:1em;
	color:black;
	float:left;
	background-color:red;
    padding-left:10%;
    padding-right:10%;
    padding-top:2%;

}
.pcweb{
	
	height:20%;
}

.Paginaweb{
font-family:Candara;
margin-left:25%;
margin-right:25%;
}