


.header p {

    font-size:50px;
    text-align:center;
    padding:20px 0;    
}s

.contenedor{
    width:90%;
    max-width:1000px;
  
    margin:auto;
    font-size:50px;
    line-height:50px;
    text-align:center;
}

.contenedor > div {
    display:block;
    padding:20px;
    background-color:white;
    color:white;
    box-shadow: 2px 2px 10px white;
}


.contenedor > div > img {
    width:60%;
    margin:auto;

}

.contenedor2{
   background-color:white;  
height:1000px;
width:100%;
 
}

.contenedor > div > p {
    font-size:20px;
    color:black;
    text-align:center;
    margin:auto;
}

.contenedor > div > h3 {
    font-size:30px;
    color:black;
    text-align:center;
    margin:auto;
}

.contenedor > div > h5 {
    font-size:20px;
    color:black;
    text-align:center;
    margin:auto;
    background-color:orange;
}


.contenedor{
  display:grid;
  grid-template-columns:30% 30% 30% ;
  grid-template-rows:100px 400px 400px;
    grid-gap:50px;
}